.imgContainer {

}

#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
}

#main-wrapper {
    height: 100%;
    overflow-y: auto;
    padding: 50px 0 0px 0;
}

#main {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: 0 15px;
}

#sidebar-wrapper {
    height: 80%;
    margin-top: 30px;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #FFF;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 1px 1px 5px 1px #666666;
    -moz-box-shadow: 1px 1px 5px 1px #666666;
    -webkit-box-shadow: 1px 1px 5px 1px #666666;
}

/*
#sidebar-wrapper a:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;

    background-image: -moz-linear-gradient(top, #0088cc, #0055cc) !important;
    background-image: -ms-linear-gradient(top, #0088cc, #0055cc) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc)) !important;
    background-image: -webkit-linear-gradient(top, #0088cc, #0055cc) !important;
    background-image: -o-linear-gradient(top, #0088cc, #0055cc) !important;
    background-image: linear-gradient(top, #0088cc, #0055cc) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0) !important;
    border-color: #0055cc #0055cc #003580 !important;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
    filter: progid:dximagetransform.microsoft.gradient(enabled=false) !important;
    background-color: #0055cc !important;
}
*/

#sidebar-wrapper .table td {
    border-top: 1px solid #efefef;
}

/* Standort Filter - Entfernen des Abstands nach oben und unten */
#sidebar-wrapper form.filter-form {
    margin-top: 0;
    margin-bottom: 0;
}

#sidebar-wrapper .action-wrapper {
    width: 100%;
}

#sidebar-wrapper form input[type="text"] {
    width: 96%;
    padding: 2%;
}

#sidebar {
    position: relative;
    height: 100%;
    overflow-y: auto;
}

#sidebar .list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

@media (max-width: 992px) {
    body {
        padding-top: 0px;
    }
}

@media (min-width: 992px) {
    #main-wrapper {
        float: right;
    }
}

@media (max-width: 992px) {
    #main-wrapper {
        padding-top: 0px;
    }
}

@media (max-width: 992px) {
    #sidebar-wrapper {
        position: static;
        height: auto;
        max-height: 300px;
        border-right: 0;
    }
}

@media (min-width: 1200px) {
    #sidebar-wrapper {
        max-width: 300px;
    }
}

.teaser-img-wrapper {
    text-align: center
}

.btn-circle, .btn-circle:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
}

.btn-circle.active, .btn-circle.active {
    color: rgba(255, 255, 255, 0.75);
}

.btn-circle {
    width: 1em;
    height: 1em;
    line-height: 1em !important;
    padding: 0 !important;
    color: #FFFFFF !important;
    /* 	font-size: 5px; */
    font-weight: bold;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    -khtml-border-radius: 1em;
}

.btn-circle:hover, .btn-circle:active, .btn-circle.active, .btn-circle.disabled, .btn-circle[disabled] {
    background-color: #0055cc !important;
    background-image: none !important;
}

.btn-circle:active, .btn-circle.active {
    background-color: #004099 \9 !important;
    background-image: none !important;
}

.btn-blue {
    background-image: -ms-linear-gradient(top, #0088cc, #0044CC) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc),
    to(#0044CC)) !important;
    background-image: -webkit-linear-gradient(top, #0088cc, #0044CC) !important;
    background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-blue:hover, .btn-blue:active, .btn-blue.active, .btn-blue.disabled, .btn-blue[disabled] {
    background-image: -moz-linear-gradient(top, #0088cc, #0055cc) !important;
    background-image: -ms-linear-gradient(top, #0088cc, #0055cc) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc),
    to(#0055cc)) !important;
    background-image: -webkit-linear-gradient(top, #0088cc, #0055cc) !important;
    background-image: -o-linear-gradient(top, #0088cc, #0055cc) !important;
    background-image: linear-gradient(top, #0088cc, #0055cc) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc',
    endColorstr='#0055cc', GradientType=0) !important;
    border-color: #0055cc #0055cc #003580 !important;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
    filter: progid:dximagetransform.microsoft.gradient(enabled=false) !important;
    background-color: #0055cc !important;
}

.btn-violet {
    background-image: -moz-linear-gradient(top, #900065, #551943) !important;
    background-image: -ms-linear-gradient(top, #900065, #551943) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#900065),
    to(#551943)) !important;
    background-image: -webkit-linear-gradient(top, #900065, #551943) !important;
    background-image: -o-linear-gradient(top, #900065, #551943) !important;
    background-image: linear-gradient(top, #900065, #551943) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#900065',
    endColorstr='#551943', GradientType=0) !important;
    border-color: #0055cc #0055cc #003580 !important;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
    filter: progid:dximagetransform.microsoft.gradient(enabled=false) !important;
    background-color: #551943 !important;
}

.btn-violet:hover, .btn-violet:active, .btn-violet.active, .btn-violet.disabled, .btn-violet[disabled] {
    background-image: -moz-linear-gradient(top, #900065, #551943) !important;
    background-image: -ms-linear-gradient(top, #900065, #551943) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#900065),
    to(#551943)) !important;
    background-image: -webkit-linear-gradient(top, #900065, #551943) !important;
    background-image: -o-linear-gradient(top, #900065, #551943) !important;
    background-image: linear-gradient(top, #900065, #551943) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#900065',
    endColorstr='#551943', GradientType=0) !important;
    border-color: #0055cc #0055cc #003580 !important;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
    filter: progid:dximagetransform.microsoft.gradient(enabled=false) !important;
    background-color: #900065 !important;
}
